.App {
  display: flex;
  flex-direction: column;
}

.Nav {
  background-color: darkorchid;
  height: 64px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.Nav a {
  text-decoration: none;
  margin: 0 10px;
  color: white;
  font-size: 1.3em;
}

.Nav a:hover {
  text-decoration: underline;
  color: #aaa;
}
